.hero {
  height: calc(100vh - 80px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 950px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      button {
        cursor: pointer;
      }
      // @include mobile {
      //   height: 50%;
      //   width: 100%;
      //   gap: 20px;
      //   align-items: center;
      //   text-align: center;
      // }

      h2 {
        font-size: 23px;
        color: #8fb9d5;
        letter-spacing: 5px;
      }

      h1 {
        font-size: 30px;

        // @include mobile {
        //   font-size: 36px;
        // }
      }

      .buttons {
        button {
          padding: 10px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          font-weight: 300;
          cursor: pointer;
        }
      }

      img {
        width: 40px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      width: 460px;
      height: calc(100vh - 20px);
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 28vh;
    bottom: -35px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
